<a href="http://localhost:8080/products"><button class="btn btn-primary">Still shooping</button></a>
<h1 class="title__cartpage">SHOPPING CART</h1>
{{#if cart.length}}
  <table class="table__cart">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {{#each cart}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td>{{this.quantity}}</td>
          {{!-- <td><button onclick="removeProductFromCart('{{this._id}}')">Eliminar</button></td> --}}
          <td><button onclick="removeProductFromCart('{{../cart._id}}', '{{this.product._id}}')">Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <button class="button is-danger mt-3" onclick="clearCart()">Delete all products</button>
{{else}}
  <p>Empty cart</p>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartController.js"></script>
